* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./signup-login/enterfundo.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_form {
    display: flex;
    background: url("/signup-login/signupformfundo.png") center/contain no-repeat;
    width: 40vw;
    height: 95vh;
    aspect-ratio: 788 / 843;
    border: 5px solid transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registrar{
    
}