* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./signup-login/enterfundo.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_form {
    display: flex;
    background: url("/signup-login/loginformfundo.png") center/contain no-repeat;
    width: 40vw;
    height: 95vh;
    aspect-ratio: 788 / 843;
    border: 5px solid transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbox{
    height: 5vh;
    width: 15vw;  
    border: dashed black 2px;  
}


.iconimg{
    width:3vw;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.emaillockimg{
    width: 3vw;
    height: 5vh;
    padding-right: 5px
}

.forms{
    display: flex;
}

.loginbutton{
    width: 9vw;
    height: 6vh;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 3vh;
    margin-bottom: 17px;
}

.loginbutton img{
    width: 9vw;
    height:6vh;
}

.registrar{
    display: flex;
    justify-items: flex-end;
}

.registrar button{
    background-color: transparent;
    border: none;
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #12795C;
}
