@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('/pagina_principal/pgprincipalfundo1.png') center/cover no-repeat;
}

/* Fundo atrás */
.fundo2 {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url('/pagina_principal/pgprincipalfundo2.png') center/cover no-repeat;
  z-index: 2;
  pointer-events: none
}

/* Botão no meio */
.logar {
  position: absolute;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 9%;
  left: 84%;
  position: absolute;
  width: 10vw;
  height: auto;
  cursor: pointer;
  transition: left 0.3s ease; /* suaviza a mudança de posição */
}

.logar img{
  width: 20vw; /* proporcional à tela */
  height: auto;
}

.logar:hover {
  left: 86%;
}

.imagem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cobre o container mantendo proporção */
  object-position: center; /* centraliza */
  animation: fade 2.5s infinite linear;
  pointer-events: none;
}
  @keyframes fade{
      0%, 20% {
    opacity: 1;   /* visível */
    }
    20%, 40% {
      opacity: 0;   /* fade para invisível */
    }
    40%, 60% {
      opacity: 0;   /* invisível */
    }
    60%, 80% {
      opacity: 1;   /* fade para visível */
    }
    80%, 100% {
      opacity: 1;   /* visível */
    }
  }
  .moldura {
    position: absolute;   /* fixa em relação ao container */
    top: 13%;             /* 10% do topo do container */
    left: 16%;            /* 10% da esquerda do container */
    width: 27%;           /* largura proporcional à tela */
    height: auto;         /* mantém proporção da imagem */
    z-index: 3;
  }
  .setaesquerda{
    position: absolute;   
    top: 37%;            
    left: 14%;            
    width: 3%;           
    height: auto;    
    z-index: 3;
    background-color: transparent;
    border: none;
    cursor: pointer
  }
  .setaesquerda img{
    width: 100%;
    height: auto;
    display: block;
  }
  .setadireita{
    position: absolute;   
    top: 37%;            
    left: 40%;            
    width: 3%;           
    height: auto;    
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .setadireita img{
    width: 100%;
    height: auto;
    display: block;
  }
  .setadireita:hover img, .setaesquerda:hover img{
    transform: scale(1.05);
  }
  .nomebox{
    z-index: 3;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 17%;
    left: 29%;
    width: 13vw;
    height: 5vh;
    background-color: transparent;
  }
  .nome{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: default;
  }
  .wrapper {
    position: absolute;
    left: 15%;
    top: 70%;
    width: 28vw;
    height: 13vh;
    position: relative; /* Importante */
    z-index: 5;
  }
  
  /* A imagem fica exatamente por cima */
  .inputImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* mantém formato */
    z-index: 3;
    pointer-events: none; /* imagem não bloqueia o clique */
  }
  
  /* O input REAL fica embaixo da imagem */
  .realInput {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background: transparent;
    border: none;
    outline: none;
  
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
    color: black;
    caret-color: rgb(67, 67, 67);
    z-index: 1;
  }
  
  .realInput::-webkit-inner-spin-button,
  .realInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .realInput {
    -moz-appearance: textfield;
  }
  .jogar{
    position: absolute;
    width: 13vw;
    top:86%;
    left: 22%;
    cursor: pointer;
    z-index: 4;
    background-color: transparent;
    border: none;
  }
  
  .jogar img {
    width: 100%;
    height: 100%;
    display: block; /* remove espaços extras */
    object-fit: cover; /* cobre todo o botão mantendo proporção */
  }
  
  .listabox{
    display:flex;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 52%;
    border: 5px dashed rgba(255, 255, 255, 0.685);    
    background-color: transparent;
    width: 32%;
    min-height: 10%;  
    max-height: 42%;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;   /* scrollbar sempre disponível */
    scrollbar-width: none;        /* Firefox */
    border-radius: 10px;
    padding-bottom: 2%;
  }
  
  .listabox ::-webkit-scrollbar{
    width: none;
  }


.adicionarquiz{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(16px, 3vw, 32px);
    cursor: pointer;
    width: 25vw;
    height: 5vh;
    border: transparent;
    border-radius: 10px;
    display: flex;              
    justify-content: center;    
    align-items: center;    
    padding-top: 8px;
    margin-top: 6%;
    background-color: rgb(253, 230, 209);
}
.adicionarquiz:hover{
    border: 3px solid rgba(231, 108, 233, 0.414);
}

.quiz{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(5px, 1.5vw, 32px);
    cursor: pointer;
    width: 25vw;
    height: 5vh;
    border: transparent;
    border-radius: 10px;
    display: flex;              
    justify-content: center;    
    align-items: center;    
    padding-top: 8px;
    margin-top: 2%;
    background-color: rgb(253, 230, 209);

}
.quiz:hover{
  border: 3px solid rgba(231, 108, 233, 0.414);
}
.mensagem{
  position: absolute;
  width: 25vw;
  height: auto;
  top: 65%;
  left: 55%;
  z-index: 3;
}

.titulo{
  position: absolute;
  z-index: 5;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(5px, 2vw, 32px);
  top: 10%;
  left: 62%;
}
.paragrafo{
  position: absolute;
  z-index: 5;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(5px, 1.5vw, 32px);
  top: 66%;
  left: 21%;
}
.fotoperfil{
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 2;
}