* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background:
  url('/pagina_principal/pgprincipalfundo2.png') center/cover no-repeat,
  url('/pagina_principal/pgprincipalfundo1.png') center/cover no-repeat;
}
.imagem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cobre o container mantendo proporção */
  object-position: center; /* centraliza */
  animation: fade 2.5s infinite linear;
  pointer-events: none;
}
  @keyframes fade{
      0%, 20% {
    opacity: 1;   /* visível */
    }
    20%, 40% {
      opacity: 0;   /* fade para invisível */
    }
    40%, 60% {
      opacity: 0;   /* invisível */
    }
    60%, 80% {
      opacity: 1;   /* fade para visível */
    }
    80%, 100% {
      opacity: 1;   /* visível */
    }
  }

.tamanho{
  height: 400px;
  width: auto;
}
.botao {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.botao img {
  display: block;
  width: 100%; /* ou um tamanho fixo */
  height: auto;
}

.coluna{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; /* Não vai crescer nem encolher */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: flex-start; /* Alinha os itens no topo */
}

.linha{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto; /* Não vai crescer nem encolher */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: flex-start; /* Alinha os itens no topo */
}
