* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background:
  url('/pagina_principal/pgprincipalfundo2.png') center/cover no-repeat,
  url('/pagina_principal/pgprincipalfundo1.png') center/cover no-repeat;
}
.imagem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cobre o container mantendo proporção */
  object-position: center; /* centraliza */
}

.tamanho{
  height: 450px;
  width: auto;
}
.botao {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.botao img {
  display: block;
  width: 100%; /* ou um tamanho fixo */
  height: auto;
}
