@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background:
  url('/pagina_principal/pgprincipalfundo2.png') center/cover no-repeat,
  url('/pagina_principal/pgprincipalfundo1.png') center/cover no-repeat;
}
.imagem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cobre o container mantendo proporção */
  object-position: center; /* centraliza */
  animation: fade 2.5s infinite linear;
  pointer-events: none;
}
  @keyframes fade{
      0%, 20% {
    opacity: 1;   /* visível */
    }
    20%, 40% {
      opacity: 0;   /* fade para invisível */
    }
    40%, 60% {
      opacity: 0;   /* invisível */
    }
    60%, 80% {
      opacity: 1;   /* fade para visível */
    }
    80%, 100% {
      opacity: 1;   /* visível */
    }
  }

.tamanho{
  height: 400px;
  width: auto;
}
.botao {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.botao img {
  display: block;
  width: auto;   /* evita esticar */
  height: auto;
  margin: 0;
}
.coluna {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; /* Não vai crescer nem encolher */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: flex-start; /* Alinha no topo */
}
.linha{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto; /* Não vai crescer nem encolher */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: flex-start; /* Alinha os itens no topo */
}
.centro{
    margin-right: 650px;
    width: 530px;
    margin-top: 130px;
    background-color: aqua;
}
.centro2{
    width: 530px;
    margin-top: 90px;
    margin-right: 680px;
    background-color: blue;

}
.codigo {
  text-align: center;
  margin-top: 4px;
  height: 85px;
  width: 450px;
  font-size: 50px;
  padding-left: 15px;
  padding-top: 15px;
  border: none;
  background-color: transparent;
  font-family: "Kalam", cursive;
  font-weight: 600;
  font-style: normal;
  color: rgb(15, 15, 15);
}

/* Remove as setinhas no Chrome, Safari, Edge e Opera */
.codigo::-webkit-outer-spin-button,
.codigo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setinhas no Firefox */
.codigo[type=number] {
  -moz-appearance: textfield;
}

.nome{
  font-size: 25px;
  font-weight: 500;
  color: rgb(17, 17, 17);
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.caixanome{
  width: 210px;
  height: 50px;
  top: 163px;
  left: 450px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jogar{
  margin-top: 25px;
}

.boxli{
  background-color: aqua;
  width: 600px;
  height: 200px;
}

.quizes{}