* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url('/pagina_principal/pgprincipalfundo.png') center/cover no-repeat;
}
#moldura{
  width: 900px;
  height: auto;
}