@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('/pagina_principal/pgprincipalfundo1.png') center/cover no-repeat;
}

/* Fundo atrás */
.fundo2 {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url('/pagina_principal/pgprincipalfundo2.png') center/cover no-repeat;
  z-index: 2;
  pointer-events: none
}

/* Botão no meio */
.logar {
  position: absolute;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 9%;
  left: 84%;
  position: absolute;
  width: 10vw;
  height: auto;
  cursor: pointer;
  transition: left 0.3s ease; /* suaviza a mudança de posição */
}

.logar img{
  width: 20vw; /* proporcional à tela */
  height: auto;
}

.logar:hover {
  left: 86%;
}

.imagem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cobre o container mantendo proporção */
  object-position: center; /* centraliza */
  animation: fade 2.5s infinite linear;
  pointer-events: none;
}
  @keyframes fade{
      0%, 20% {
    opacity: 1;   /* visível */
    }
    20%, 40% {
      opacity: 0;   /* fade para invisível */
    }
    40%, 60% {
      opacity: 0;   /* invisível */
    }
    60%, 80% {
      opacity: 1;   /* fade para visível */
    }
    80%, 100% {
      opacity: 1;   /* visível */
    }
  }
  .moldura {
    position: absolute;   /* fixa em relação ao container */
    top: 13%;             /* 10% do topo do container */
    left: 16%;            /* 10% da esquerda do container */
    width: 27%;           /* largura proporcional à tela */
    height: auto;         /* mantém proporção da imagem */
    z-index: 2;
  }
  .setaesquerda{
    position: absolute;   
    top: 37%;            
    left: 14%;            
    width: 3%;           
    height: auto;    
    z-index: 3;
    background-color: transparent;
    border: none;
    cursor: pointer
  }
  .setaesquerda img{
    width: 100%;
    height: auto;
    display: block;
  }
  .setadireita{
    position: absolute;   
    top: 37%;            
    left: 40%;            
    width: 3%;           
    height: auto;    
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .setadireita img{
    width: 100%;
    height: auto;
    display: block;
  }
  .nomebox{
    z-index: 3;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 17%;
    left: 29%;
    width: 13vw;
    height: 5vh;
    background-color: transparent;
  }
  .nome{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: default;
  }
/* Wrapper do input */
.codigobox {
  left: 15%;
  top: 74%;
  width: 27vw;
  height: 10vh;
  
  position: relative; /* NECESSÁRIO para posicionar a imagem */
}

/* Ícone dentro do input */
.inputicon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 50vw;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 5;
}

/* Estilo do input */
.codigobox input {
  width: 100%;
  height: 100%;
  padding-left: 3.5vw;  /* espaço para a imagem */
  text-align: center;

  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;

  background-color: transparent;
  border:none;
  outline: none;
  z-index: 4;
}

  .jogar{
    position: absolute;
    width: 13vw;
    top:85%;
    left: 22%;
    cursor: pointer;
    z-index: 4;
    background-color: transparent;
    border: none;
  }
  
  .jogar img {
    width: 100%;
    height: 100%;
    display: block; /* remove espaços extras */
    object-fit: cover; /* cobre todo o botão mantendo proporção */
  }
  
  .listabox{
    display:flex;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 52%;
    border: 5px dashed rgba(255, 255, 255, 0.685);    
    background-color: transparent;
    width: 32%;
    min-height: 10%;  
    max-height: 42%;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;   /* scrollbar sempre disponível */
    scrollbar-width: none;        /* Firefox */
    border-radius: 10px;
    padding-bottom: 2%;
  }
  
  .listabox ::-webkit-scrollbar{
    width: none;
  }


.adicionarquiz{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(16px, 3vw, 32px);
    cursor: pointer;
    width: 25vw;
    height: 5vh;
    border: transparent;
    border-radius: 10px;
    display: flex;              
    justify-content: center;    
    align-items: center;    
    padding-top: 8px;
    margin-top: 6%;
    background-color: rgb(253, 230, 209);
}

.quiz{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(5px, 1.5vw, 32px);
    cursor: pointer;
    width: 25vw;
    height: 5vh;
    border: transparent;
    border-radius: 10px;
    display: flex;              
    justify-content: center;    
    align-items: center;    
    padding-top: 8px;
    margin-top: 2%;
    background-color: rgb(253, 230, 209);
}