@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
}
/* Classe parallax */
.paralaxcontainer {
  height: 100vh; /* ocupa a tela inteira */
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* gradiente */
  background-attachment: fixed; /* efeito parallax */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/signup-login/enterfundo.png") center / cover no-repeat fixed;
  flex-direction: column;
}

.enunciadobox{
  background-color: white;
  height: 35vh;
  width: 90vw;
  color: black;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  font-family: "Kalam", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  border: 2px dashed transparent;
  border-radius: 10px;
  margin-bottom: 5vh;
}

.enunciado{
  margin: 30px;
}

.alternativa{
  height: 20vh;
  width: 45vw;
  border: solid transparent 2px;
  border-radius: 10px;
  background-color: white;
}

.alternativas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  gap: 1vw;
}