@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
}

.fundo{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/signup-login/enterfundo.png") center / cover no-repeat fixed;
  flex-direction: column;
}

/* ENUNCIADO (Agora é um div contentEditable) */
.enunciadoInput {
  width: 91vw;
  height: 35vh;
  min-height: 140px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgba(200, 200, 200, 0.6);
  font-size: 20px;
  font-family: "Kalam", cursive;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 3vh;

  display: block; /* trocar flex por block */
  text-align: left; /* texto da esquerda para a direita */
  white-space: pre-wrap; /* mantém quebras de linha */
}


/* Alternativas */
.alternativa{
  height: 20vh;
  width: 45vw;
  border: solid transparent 2px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Kalam", cursive;
  text-align: center;
  background-color: rgb(98, 223, 98);
}

.enunciadoInput:empty::before {
  content: attr(data-placeholder);
  color: #aaa;
}


.alternativa:focus {
  outline: none;
  border: solid 1px #00ff37;
}

.vermelho{
  background-color: rgb(255, 92, 92);
}

.verde{
  background-color: rgb(143, 255, 143);
}

.alternativas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  gap: 1vw;
}

/* Efeito foco no enunciado */
.enunciadoInput:focus {
  background-color:#f5f5f5 ;
  outline: none;

}
