@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
}

.fundo{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/signup-login/enterfundo.png") center / cover no-repeat fixed;
  flex-direction: column;
}

/* ENUNCIADO */
.enunciado {
  width: 91vw;
  height: 35vh;
  min-height: 140px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid rgba(200, 200, 200, 0.6);
  font-size: 20px;
  font-family: "Kalam", cursive;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 3vh;

  display: block;
  text-align: left;
  white-space: pre-wrap;
}

/* GRID DAS LINHAS */
.alternativas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  gap: 1vw;
}

/* BASE DAS ALTERNATIVAS */
.alternativa{
  height: 20vh;
  width: 45vw;
  border: solid transparent 2px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Kalam", cursive;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s ease;
}

/* HOVER (só se não estiver travado — controlado no JS) */
.alternativa:hover {
  transform: scale(1.05);
  filter: brightness(1.15);
}

/* CORES TIPO KAHOOT */
.cor1 {
    background-color: #e21b3c; /* vermelho */
}

.cor2 {
    background-color: #1368ce; /* azul */
}

.cor3 {
    background-color: #d89e00; /* amarelo */
}

.cor4 {
    background-color: #26890c; /* verde */
}

/* ESTADO FINAL */
.vermelho{
  background-color: rgb(255, 92, 92) !important;
}
.verde{
  background-color: rgb(143, 255, 143) !important;
}

/* LIMPAR ENUNCIADO */
.enunciadoInput:empty::before {
  content: attr(data-placeholder);
  color: #aaa;
}

.enunciadoInput:focus {
  background-color:#f5f5f5 ;
  outline: none;
}
