@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.row{
    position: absolute;
    top: 5vh;
    right: 31.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.tituloWrapper{
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.postittitulo{
    width: 100%;
}

.titulo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: transparent;
    border: none;
    font-size: 28px;
    text-align: center;
    font-family: "Kalam", cursive;
    outline: none;
    font-weight: 700;
}

.fechar{
    height: 75px;
    width: 75px;
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.fechar:hover{
    transform: scale(1.1);
}

.podio{
    height: 70vh;
    width: 60vw;
    position: absolute;
    bottom: 0vh;
    left: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.primeiro{
    height: 60%;
    width: 28%;
    background-color: gold;
    align-self: flex-end;
}

.segundo{
    height: 50%;
    width: 23%;
    background-color: silver;
    align-self: flex-end;
}

.terceiro{
    height: 40%;
    width: 20%;
    background-color: #cd7f32;
    align-self: flex-end;
}

.person1{
    height: 28vh;
    width: 28%;
    border: transparent 3px;
    position: absolute;
    bottom: 60%;
    right: 34.5%;
    z-index: 1;
}

.person2{
    height: 25vh;
    width: 23%;
    border: transparent 3px;
    position: absolute;
    bottom: 50%;
    right: 73.25%; 
}

.person3{
    height: 22vh;
    width: 20%;
    border: transparent 3px;
    position: absolute;
    bottom: 40%;
    right: 3.7%;
}
.coroa{
    height: 28vh;
    width: 28%;
    position: absolute;
    bottom: 60%;
    right: 34.5%;

}

.coroa img{
    height: 100%;
    width: 100%;
    z-index: 2;
}

.nome{
    justify-self: center;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    padding-top: 5px;
}

.posicao{
    justify-self: center;
    font-family: "Kalam", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
}

.pontos{
    justify-self: center;
    font-family: "Kalam", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
}

.carregando{
    justify-self: center;
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding-top: 60px;
}