* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./signup-login/enterfundo.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_form {
    display: flex;
    background: url("/signup-login/recupsformfundo.png") center/contain no-repeat;
    width: 40vw;
    height: 95vh;
    aspect-ratio: 788 / 843;
    border: 5px solid transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32vh;
    padding-left: 3vw;
}

.loginbox{
    height: 5vh;
    width: 15vw;  
    border: dashed black 2px;  
}

.emailimg{
    width: 3vw;
    height: 5vh;
    padding-right: 5px
}

.forms{
    display: flex;
}
