@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./signup-login/enterfundo.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechar{
    height: 75px;
    width: 75px;
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.fechar:hover{
    transform: scale(1.1);
}

.cont_form {
    position: relative;
    display: flex;
    background: url("/signup-login/recupsformfundo.png") center/contain no-repeat;
    width: 40vw;
    height: 95vh;
    aspect-ratio: 788 / 843;
    border: 5px solid transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 4vw;
}

.titulo{
    color: black;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
}

.subtitulo{
    font-family: "Kalam", cursive;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    color: black;
}

.formbox{
    height: 5vh;
    width: 15vw;  
    border: dashed black 2px; 
    transition: 0.2s;
    margin-bottom: 10px;
}

.formbox:focus {
  border-color: #DF4E72;
  box-shadow: 0 0 8px rgba(37, 99, 235, 0.3);
  outline: none;
}

.emailimg{
    width: 3vw;
    height: 5vh;
    padding-right: 5px
}

.forms{
    display: flex;
}

.enviarbutton{
    width: 9vw;
    height: 6vh;
    border: solid black 2px;
    border-radius: 20px;
    font-family: "Kalam", cursive;
    font-weight: 600;
    background-color: #DF4E72;
    box-shadow: 4px 4px 1px 2px #071f4870;
    margin-top: 3vh;
    cursor: pointer;
}

.mensagem{
    position: absolute;
    color: green;
    margin-top: 10px;
    top:80%;
}

.erro{
    position: absolute;
    color: red;
    margin-top: 10px;
    top:80%;
}