@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Paytone+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./signup-login/enterfundo.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_form {
    display: flex;
    background: url("/signup-login/signupformfundo.png") center/contain no-repeat;
    width: 40vw;
    height: 95vh;
    aspect-ratio: 788 / 843;
    border: 5px solid transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbox{ 
    height: 5vh;
    width: 15vw;  
    border: dashed black 2px;  
}

.iconimg{
    width:3vw;
    height:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.forms{
    display: flex;

}

.usuario{
    width: 2.5vw;
    height: 5vh;
    padding-right: 5px
}

.emaillockimg{
    width: 3vw;
    height: 5vh;
    padding-right: 5px
}

.signupbutton{
    width: 9vw;
    height: 6vh;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.signupbutton img{
    width: 9vw;
    height:6vh;
}

.registrar{
    display: flex;
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
}

.registrar button{
    background-color: transparent;
    border: none;
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-style: normal;
}